table.mat-table {
    width: 100%;
    overflow: auto;
}

tr.mat-footer-row {
    font-weight: bold;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.table-container {
    margin-top: 10px;
    max-height: 300px;
    overflow: auto;
}