table.mat-mdc-table {
    width: 100%;
    overflow: auto;
}

tr.mat-mdc-footer-row {
    font-weight: bold;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.table-container {
    margin-top: 10px;
    max-height: 300px;
    overflow: auto;
}

.chart {
    padding-top: 5px;
}

#main-div { 
    margin: 0 5px;
    height: 75px;
}
#month-div    {
    width: 250px;
    float: left;
}

#year-div  {
    width: 250px;
    margin-left: 250px;
}