<mat-form-field class="expenses-80-width" appearance="fill">
  <mat-label>Special Tags</mat-label>
  <mat-chip-grid #chipList >
    @for (tag of tags; track tag) {
      <mat-chip-row
        (removed)="remove(tag)">
        {{tag}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    <input
      placeholder="New tag..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (tag of filteredTags | async; track tag) {
      <mat-option [value]="tag">
        {{tag}}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

