<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>My Expenses</span>
        <span class="toolbar-spacer"></span>
        <app-login></app-login>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-icon-button class="toolbar-icon" routerLink="/summary/last" routerLinkActive="active">
            <mat-icon>arrow_circle_left</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <button mat-button class="toolbar-icon" routerLink="/summary" routerLinkActive="active" >
            <span>{{current | date:'MMMM yyyy'}}</span>
        </button>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="toolbar-icon" routerLink="/notfound" routerLinkActive="active" >
            <mat-icon>arrow_circle_right</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
